In [1]:
'''
Getting ward for a given address, the wards are the conformed dimension. That means is the column where we can
connect each of the datasets together, each share a Ward. You can look up on what Ward you are in by typing in your
address on a website. We need to refomat some columns so it is suitable to type in. 

Then we can visually explore the data

''' 
from selenium import webdriver
import time
import pandas as pd
import numpy as np

## importing data
col_list = ["_id", "DATE_SUBMITTED", "STREET_DIRECTION", "STREET_NAME","STREET_NUM", "STREET_TYPE"]
df = pd.read_csv('data/csv/Development_Applications_Data.csv', usecols=col_list)  

df

,_id,DATE_SUBMITTED,STREET_DIRECTION,STREET_NAME,STREET_NUM,STREET_TYPE
0,540631,2017-11-10,E,KING,65,ST
1,540632,2018-07-06,,YONGE,1506,ST
2,540633,2018-07-06,,TEDDINGTON PARK,50,AVE
3,540634,2018-05-31,,AVENUE,620,RD
4,540635,2018-05-31,,SOUTH KINGSWAY,209,
...,...,...,...,...,...,...
29894,603148,2016-05-04,,BAY,967,ST
29895,603149,2019-02-01,,GILDER,31-85,DR
29896,603150,2019-03-01,,GILDER,31-85,DR
29897,603154,2018-06-01,,MASTWOOD,16,CRES
29898,603157,2016-03-07,,CATHER,1,CRES

In [2]:
# Creating an address that we can find a ward
df["Address"] = df["STREET_NUM"] + " " + df["STREET_NAME"] + " " + df["STREET_TYPE"] + " " + df["STREET_DIRECTION"]

df

,_id,DATE_SUBMITTED,STREET_DIRECTION,STREET_NAME,STREET_NUM,STREET_TYPE,Address
0,540631,2017-11-10,E,KING,65,ST,65 KING ST E
1,540632,2018-07-06,,YONGE,1506,ST,1506 YONGE ST
2,540633,2018-07-06,,TEDDINGTON PARK,50,AVE,50 TEDDINGTON PARK AVE
3,540634,2018-05-31,,AVENUE,620,RD,620 AVENUE RD
4,540635,2018-05-31,,SOUTH KINGSWAY,209,,209 SOUTH KINGSWAY
...,...,...,...,...,...,...,...
29894,603148,2016-05-04,,BAY,967,ST,967 BAY ST
29895,603149,2019-02-01,,GILDER,31-85,DR,31-85 GILDER DR
29896,603150,2019-03-01,,GILDER,31-85,DR,31-85 GILDER DR
29897,603154,2018-06-01,,MASTWOOD,16,CRES,16 MASTWOOD CRES
29898,603157,2016-03-07,,CATHER,1,CRES,1 CATHER CRES

In [3]:
# Dropping duplicates and No complete addresses
df.drop_duplicates(subset ="Address", keep = False, inplace = True) 
df.dropna(subset = ["Address"], inplace=True)

In [4]:
# Creating a table that has 16011 addresses to look up instead of 29899 or a 47% reduction
df

,_id,DATE_SUBMITTED,STREET_DIRECTION,STREET_NAME,STREET_NUM,STREET_TYPE,Address
1,540632,2018-07-06,,YONGE,1506,ST,1506 YONGE ST
4,540635,2018-05-31,,SOUTH KINGSWAY,209,,209 SOUTH KINGSWAY
5,540636,2018-06-19,W,BLOOR,3832,ST,3832 BLOOR ST W
6,540637,2018-03-28,,TORYORK,151,DR,151 TORYORK DR
9,540640,2019-10-15,,MARKHAM,3250,RD,3250 MARKHAM RD
...,...,...,...,...,...,...,...
29884,603121,2016-06-10,,HILLSIDE,80,AVE,80 HILLSIDE AVE
29887,603126,2019-12-24,W,KING,401-409,ST,401-409 KING ST W
29891,603142,2015-10-13,,JEFFERSON,65,AVE,65 JEFFERSON AVE
29894,603148,2016-05-04,,BAY,967,ST,967 BAY ST
29897,603154,2018-06-01,,MASTWOOD,16,CRES,16 MASTWOOD CRES

In [5]:
'''
Ideally we would have access to an API however we are going to have to use 
growth hacking tactics in an automated fashion

'''
addresses = df["Address"]

browser = webdriver.Chrome()
browser.get("https://www.toronto.ca/city-government/data-research-maps/neighbourhoods-communities/ward-profiles/")

searcheElement = browser.find_element_by_css_selector("#js_input__address")
array = []
for element in addresses:
    searcheElement.send_keys(element)
    searcheElement.submit() 
    time.sleep(1)
    try:
        linkElement = browser.find_element_by_css_selector(".map--result-text li:nth-child(1) > a")
        linkElement.click()
        searcheElement.clear() 
    except:
        try :
            wardNumElement = browser.find_element_by_css_selector(".map--ward-number")
            array.append(wardNumElement.text)
            searcheElement.clear()
            time.sleep(1)
        except:
            print("An exception occurred - Ward cannot be found")
            searcheElement.clear()
            array.append("0")

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=83.0.4103.116)

In [ ]:
ward_df = pd.DataFrame(data, index=["Ward"]

In [ ]:
# appending two dataframes
result = pd.concat([df1, df4], axis=1, sort=False)

In [ ]:
'''
Ideally we would have access to an API however we are going to have to use 
growth hacking tactics in an automated fashion

'''
from multiprocessing import Pool

addresses = df["Address"]

browser = webdriver.Chrome()
browser.get("https://www.toronto.ca/city-government/data-research-maps/neighbourhoods-communities/ward-profiles/")


searcheElement = browser.find_element_by_css_selector("#js_input__address")
array = []
for element in addresses:
    searcheElement.send_keys(element)
    searcheElement.submit() 
    time.sleep(1)
    try:
        linkElement = browser.find_element_by_css_selector(".map--result-text li:nth-child(1) > a")
        linkElement.click()
        searcheElement.clear() 
    except:
        try :
            wardNumElement = browser.find_element_by_css_selector(".map--ward-number")
            array.append(wardNumElement.text)
            searcheElement.clear()
            time.sleep(1)
        except:
            print("An exception occurred - Ward cannot be found")
            searcheElement.clear()
            array.append("0")

In [ ]:
results = ThreadPool(8).imap_unordered(fetch_url, urls)
for path in results:
    print(path)

print(f"Elapsed Time: {timer() - start}")

In [ ]:
from multiprocessing import Pool
import requests
from bs4 import BeautifulSoup

In [ ]:
base_url = 'https://www.amazon.ca/b/ref=gbps_img_s-4_4687_6be0a4f4?node=21212970011&smid=A2BAPNBZ2I6I6N&pf_rd_p=94f5d859-22fc-430f-80cf-910fd4644687&pf_rd_s=slot-4&pf_rd_t=701&pf_rd_i=gb_main&pf_rd_m=A3DWYIK6Y9EEQB&pf_rd_r=CC4QD66GSSV8J5C825F4'

all_urls = list()

print("Getting data")

# getting a list of strings
def generate_urls():
    for i in range(1,11):
        all_urls.append(base_url + str(i))

#going to get them
def scrape(url):
    res = requests.get(url)
    print(res.status_code, res.url)

print("Before")

#calling the function
generate_urls()

# 10 will be processed at a time
p = Pool(10)

p.map(scrape, all_urls)
p.terminate()
p.join()

In [ ]:
p

In [ ]:
# Creating multiprocessing
import time
from multiprocessing import Pool